.notFoundContainer {
    width: 100vw;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eyesContainer {
    max-width: 100vw;
    margin-top: 150px;
}

.eyesSvg {
    margin: auto;
    width: 300px;
    height: 100%;
    position: relative;
    animation: infinite ease-in-out afraid 1s;
}

.eyes {
    width: 100%;
}

.pupilles {
    position: absolute;
    width: 60%;
    top: 100px;
    left: 20px;
    animation: infinite linear movePupilles 4s;
}

@keyframes movePupilles {
    0% {left: 20px}
    10% {left: 20px}
    15% {left: 100px}
    30% {left: 100px}
    33% {left: 50px}
    97% {left: 50px}
    100% {left: 20px}
}

@keyframes afraid {
    0% {top: 1px; left: 2px}
    5% {top: 0; left: 0}
    10% {top: 2px; left: 2px}
    15% {top: 0; left: 0}
    20% {top: 2px; left: 2px}
    25% {top: 0; left: 0}
    30% {top: 8px; left: 5px}
    35% {top: 0; left: 0}
    40% {top: 2px; left: 2px}
    45% {top: 0; left: 0}
    50% {top: 2px; left: 2px}
    55% {top: 0; left: 0}
    60% {top: 4px; left: 8px}
    65% {top: 0; left: 0}
    70% {top: 2px; left: 2px}
    75% {top: 0; left: 0}
    80% {top: 2px; left: 2px}
    85% {top: 0; left: 0}
    90% {top: 8px; left: 5px}
    95% {top: 0; left: 0}
    100% {top: 2px; left: 2px}
}

.notFoundText {
    margin-top: 80px;
}
